<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Ticket</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container mx-auto">
        <div class="my-4">
          <h2 class="text-2xl font-bold text-gray-800">Purchase Tickets</h2>
        </div>
        <form class="bg-white rounded-lg shadow-lg overflow-hidden" action="" method="POST">
          <div class="my-4 mx-6">
            <label class="block text-gray-700 font-bold mb-2" for="num_tickets">Number of Tickets</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" name="num_tickets" min="1" value="1" required>
          </div>
          <div class="my-4 mx-6">
            <label class="block text-gray-700 font-bold mb-2" for="payment_method">Payment Method</label>
            <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="payment_method" required>
              <option value="paypal">Mobile Money</option>
              <option value="apple_pay">Airtel Money</option>
              <option value="credit_card">Credit Card</option>
            </select>
          </div>
          <div class="my-4 mx-6">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Purchase Tickets</button>
          </div>
        </form>
      </div>
      
</body>
</html>